.topNavList{
  padding-top: 20px;
  height: 3.5rem;
}

.live{
  background-color: rgb(168, 175, 139);
  border-radius: 3px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  vertical-align:middle;
  a{
    display: block;
    line-height: 2rem;
  }
}

.dead{
  background-color: rgb(139, 175, 175);
  border-radius: 3px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  vertical-align:middle;
  a{
    display: block;
    line-height: 2rem;
  }
}
