.list-parent-header{
  display: flex;
  justify-content: space-between;
  :nth-child(2){
    color: red;
  }
}

.list-sub-header{
  display: flex;
  justify-content: space-between;
}

.list-wrapper{
  width:95%;
  margin: 0 auto;
}
