.card-title{
  display: inline-block;
  width: 12.5rem;
}

.item-wrapper-N {
  background-color: antiquewhite;
  border: solid 1px red;
  margin:.5rem 0;
  .item-title {
    display: block;
    width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
  }
  .item-extra {
    display: block;
    color: red;
  }
}

.item-wrapper-Y {
  background-color: antiquewhite;
  border: solid 1px green;
  margin:.5rem 0;
  .item-title {
    display: block;
    width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
  }
  .item-extra {
    display: block;
    color: green;
  }
}
